/*Stylesheet*/
h2 {
  color: white;
  font-weight: 300;
  padding-left: 10px;
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 40;
}

h5 {
  color: #041958;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  font-size: 30;
}

header {
  background-color: #041958;
  height: 115px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #041958;
    height: 25px;
}

body.first {
  padding: 0;
  margin: 0;
  background-color: #f0f2f6;
  background-image: url(https://images.unsplash.com/photo-1509030492798-7cdeb62a335c?auto=format&fit=crop&w=1055&q=80);
  background-repeat:no-repeat;
  background-size: cover;
}

body.about {
  padding: 0;
  margin: 0;
  background-color: #f0f2f6;
  background-image: url(https://images.unsplash.com/photo-1498174979972-c9de7e6a93d6?auto=format&fit=crop&w=967&q=80);
  background-repeat:no-repeat;
  background-size: cover;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f0f2f6;
}

p {
  font-family: 'Lato', sans-serif;
  word-wrap: break-word;
}

div.block {
  background-color: #f0f2f6;
  position: absolute;
  height: 560px;
  width: 500px;
  margin-left: 600px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;;
}

.small {
  font-size: 20;
  text-align: right;
  padding-right: 10px;
}

.center {
  text-align: center;
}

.center1 {
  text-align:center;
  font-weight:300;
  padding-top: 40px;
  color: black;
  font-size: 40;
}

.center2 {
  text-align:center;
  font-weight:300;
  color: #041958;
  font-size: 35;
}

.left1 {
  text-align: left;
  font-weight:300;
  padding-top: 40px;
  padding-left: 100px;
  color: black;
  font-size: 40;
}

input {
  font-family: 'Lato', sans-serif;
  text-align: left;
  padding-left:5px;
  font-weight:300;
  color: #9FBDDA;
  font-size: 18;
  height:45;
  width:280;
}

form {
  padding-left: 100px;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #041958;
  font-size: 20px;
}

table.pad {
  border: none;
  padding-left: 100px;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #041958;
  font-size: 20px;
  word-wrap: break-word;
}

table.nopad {
  border: none;
  padding-bottom: 10px;
  padding-left: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #041958;
  font-size: 20px;
  word-wrap: break-word;
  align-items: center;
}

table.centered {
  border: none;
  padding-left: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #041958;
  font-size: 20px;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: none;
}

.notform {
  padding: none;
  margin: none;
}

.right {
  text-align: right;
  padding-top: 30px;
}

.signup {
  padding-left: 100px;
  padding-bottom: 20px;
}

img.home {
  width: 316px;
  height: 210px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

div.caption {
  background-color: white;
  width: 316px;
  height: 80px;
  margin-left: 10px;
  padding-top: -25px;
}

p.homecap {

  color: black;
  font-weight: 400;
  margin: none;
  Padding: none;
  text-decoration: underline;
}

.capdetail {
  color: black;
  font-weight: 300;
  font-size: 15px;
  margin-top: -15px;
}

button {
  border: none;
  text-decoration: none;
  background-color: #9FBDDA;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400px;
  padding: 20px 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #8FA5D6;
}

.padleft {
  padding-left: 100px;
  padding-bottom: 50px;
}

a {
  text-decoration: underline;
  color: #041958;
}

a:hover {
  text-decoration: underline;
  color: #9FBDDA;
}

a:active {
  color: #f0f2f6;
  text-decoration: none;
}

a.navlink {
  color: white;
  font-size: 20;
  float: right;
  text-decoration: none;
  padding-right: 10px;
}

a.navlink:hover {
  text-decoration: underline;
}

.notpad {
  padding: none;
}


/* styling for A_HOUSE*/
.house {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; /*maybe do away with this*/
  width: 791px;
  height: 525px;
}

.housetext {
  padding-left: 210px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: black;
}

img.icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.icontext {
  margin-right: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: black;
}

table.icons {
  margin-left: 210px; /* change this to adjust padding - house pg */
}

td.separate {
  padding-bottom: 20px;
}

.bookmark {

  margin-left: 380px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

/*styling for PROFILE*/
img.profilepic {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  margin-left: -30px;
  padding-right: 20px;
  padding-top: 30px;
}

div.smallcap
{
  background-color: white;
  width: 113px;
  height: 65px;
}

img.thumbnail {
  margin-right: 10px;
  width: 113px;
  height: 75px;
}


/* ATTEMPT SLIDESHOW*/
* {box-sizing: border-box;}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
